<?xml version="1.0 » encoding="utf-8 » ?>
<nlog   xmlns=« http://www.nlog-project.org/schemas/NLog.xsd »
xmlns:xsi=« http://www.w3.org/2001/XMLSchema-instance »
autoReload=« true »
internalLogLevel=« Trace »
internalLogFile=« C:\Users\benza\source\repos\SeekSuccess\SeekSuccess_BackEnd\logs\internallog.txt »>
<cibles>
    <   nomde la cible=« fichier journal »   xsi:type=« Fichier »
            fileName=« C:/Users/benza/source/repos/SeekSuccess/SeekSuccess_BackEnd/logs/${shortdate}_logfile.txt »
            layout=« ${longdate} ${level:uppercase=true} ${message} »/>
  </cibles>
  <règlement>
    <nom de l’enregistreur   =« * »   minlevel=« Debug »   writeTo=« logfile » />
  </règlement>
</nlog>


